<!-- **Footer** -->
       <footer id="footer">

<div class="footer-widgets-wrapper">
   <div class="container">

       <div class="column dt-sc-one-fourth first">
           <aside class="widget widget_text">
               <h3 class="widget-title">Contactanos  <span class="wlast"> </span><span class="small-line"> </span></h3>
               <p> <i class="fa fa-phone"></i> <span>Telefono:</span>0295-2424168</p>
               <p> <i class="fa fa-print"></i> <span>Fax:</span> +22 004 324 1124 </p>
               <p> <i class="fa fa-envelope"></i> <span> Email:</span> <a href="mailto:atencion.funsone@gmail.com">atencion.funsone@gmail.com</a> </p>
               <p> <i class="fa fa-globe"></i> <span>Web:</span> <a href="#">www.funsone.co.ve</a> </p>
               <p > <i class="fa fa-location-arrow"></i> <span>Calle Cedeño, con Calle independencia, detrás de la residencia de gobernadores</span> </p>

           </aside>
       </div>

       <div class="column dt-sc-one-fourth">
           <aside class="widget mailchimp">
             <h3 class="widget-title">Redes Sociales  <span class="wlast"> </span><span class="small-line"> </span></h3>

               <div id="ajax_newsletter_msg"></div>
               <div class="dt-sc-hr-invisible-small"></div>
               <ul class="dt-sc-social-icons">
                   <li><a class="dt-sc-tooltip-top facebook" href='https://facebook.com/funsoneoficial' target="_blank" title="Facebook"> <i class="fa fa-facebook"></i> </a></li>
                   <li><a class="dt-sc-tooltip-top twitter" href='https://twitter.com/funsoneoficial' target="_blank" title="Twitter"> <i class="fa fa-twitter"></i> </a></li>
                   <li><a class="dt-sc-tooltip-top google-plus" href='#' target="_blank" title="Google+"> <i class="fa fa-google-plus"></i> </a></li>
                   <li><a class="dt-sc-tooltip-top pinterest" href='https://instagram.com/funsoneoficial' target="_blank" title="Instagram"> <i class="fa fa-instagram"></i> </a></li>

               </ul>
           </aside>
       </div>

   </div>
</div><!-- **footer-widgets-wrapper - End** -->

<div class="copyright">
 <div class="container">
     <p> <%= DateTime.now.year%> <strong>FUNSONE</strong></p>
       <ul class="footer-links">
         <li><%= link_to "INICIO", root_path   %> /</li>
           <li><%= link_to "QUIENES SOMOS" , quienes_somos_path %></li>

           <li><%= link_to "AYUDAS SOCIALES" , ayudas_path %></li>
           <li><%= link_to "MOVIMIENTO PAZ Y VIDA" , pazyvida_path %></li>

           <li><%= link_to "CONTACTO" , contacto_path %></li>

       </ul>
   </div>
</div>
  </footer> <!-- **Footer - End** -->
